@font-face {
  font-family: "MursGothicMassiveDemi";
  src: url("./MursGothic-MassiveDemi.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MursGothicMassiveBlack";
  src: url("./MursGothic-MassiveBlack.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MursGothicWideMedium";
  src: url("./MursGothic-WideMedium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
